<!DOCTYPE html>
<html>
<%- include('components/head'); %>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Splat-Rating</h4>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-dark mb-4">Discordにログインして戦績やプロフィール情報を更新しましょう</p>
                                    </div>
                                    <form class="user">
                                        <button id="btnLogin" class="btn btn-primary d-block btn-user w-100" type="button">Discordにログインする</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('components/footer-scripts'); %>
</body>

</html>