<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>users | splat-rating</title>
  </head>
  <body>
    <table>
      <thead>
        <td>名前</td>
      </thead>
      <% users.forEach((user) => {%>
      <tr>
        <td>
          <a href="/users/<%= user.id %>"><%= user.name %></a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
